/* TP 1 - Technologies du Web
Ahmed GUETIB
2024-02-04 */
/****** Menu *****/
.navbar.nav-item a {
    color: blue;
}

/***** Main First Block *****/
main .first-block .col-lg-4 img {
    border: 2px solid black;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: block;
    margin: auto;
}

main .first-block .col-lg-8 h5 {
    text-align: center;
}

main .first-block p {
    border: 1px solid blue;
    border-radius: 30px;
    padding: 10px;
    text-align: justify;
    width: 90%;
}

/***** Main Second Block *****/
main .second-block {
    background-color: rgb(126, 184, 235);
    padding-bottom: 15px;
}

main .second-block img {
    width: 100px;
    height: 100px;
}

main .second-block h4 {
    margin: 10px 0 0 0;
}

main .second-block .d-grid .row {
    box-shadow: 2px 3px 3px rgb(55, 54, 54);
}

main .second-block h3 {
    margin: 0 0 0 10px;
}

main .second-block .list-group-item {
    background-color: #1b92b0;
    border-color: #034a5c;
}

/***** Main Third Block *****/
main .third-block {
    padding: 20px 100px 20px 100px;
}

main .third-block h3 {
    text-align: center;
}

footer {
    background-color: rgb(160, 71, 212);
}

footer h3 {
    line-height: 50px;
    text-align: center;
}

/* Responsive design */
/* Screens whose width is less than or equal to 768 pixels */
/***** Menu Responsive *****/
@media screen and (max-width: 768px) {
    .navbar-expand-sm {
        flex-flow: column wrap;
        justify-content: flex-start;
    }

    .navbar-expand-sm .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: 0;
        padding-left: 0;
    }

    .navbar-expand-sm .navbar-collapse {
        align-items: flex-start;
        width: 100%;
    }

    .navbar-expand-sm .navbar-toggler {
        display: block;
    }
}

/***** Main Responsive *****/
@media screen and (max-width: 768px) {
    main .first-block .col-lg-4 img {
        width: 100px;
        height: 100px;
    }

    main .first-block .col-lg-8 h5 {
        font-size: 18px;
    }

    main .first-block p {
        font-size: 14px;
        width: 100%;
    }

    main .second-block img {
        width: 50px;
        height: 50px;
    }

    main .second-block h3 {
        font-size: 18px;
    }

    main .second-block .col-lg-8 {
        order: 2;
    }

    main .second-block .col-lg-4 {
        order: 1;
    }

    main .third-block {
        padding: 20px 50px 20px 50px;
    }

    main .third-block form {
        width: 80%;
        margin: auto;
    }

    /***** FOOTER *****/
    footer h3 {
        font-size: 18px;
    }
}